# formatting
yapf
toml
tomli
ruff
codespell
isort
sphinx-lint
torch==2.7.1

ml-collections
absl-py
inflect
pydantic
protobuf
packaging
ninja
trl

accelerate
bitsandbytes
transformers==4.57.0
tokenizers
albumentations
av
einops
gdown
h5py
idna
imageio
matplotlib
numpy
omegaconf
opencv-python
opencv-python-headless
pandas
pillow
pydub
pytorch-lightning
pytorchvideo
PyYAML
regex
requests
scikit-learn
scipy
six
test-tube
timm
torchdiffeq
torchmetrics
tqdm
urllib3
uvicorn
scikit-video
imageio-ffmpeg
sentencepiece
beautifulsoup4
ftfy
moviepy
wandb
pydantic
watch
gpustat
peft>=0.17.0
einops
wheel
loguru
diffusers==0.39.0


# type checking
mypy
types-PyYAML
types-requests
types-setuptools
